benchmarkPlot.py
dist-newstyle
dist
PikaC.prof
__pystore__
__pycache__
**/.DS_Store
.stack-work
.stack-work/*
**/*.o
**/*.hi
**/*~
**/*.agdai
**/*.png

temp/*
!temp/
!temp/.gitkeep

**/*.gch

**/a.out.dSYM

## Core latex/pdflatex auxiliary files:
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.vtc
**/*.blg
**/*.bbl

**/*.pdf

